input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 2px solid $color__border-input;
	padding: 9px 10px;

	&:focus {
		color: $color__text-input-focus;
                border: 2px solid $color__main-primary;
                outline: none;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

.quantity input.qty {
    -moz-appearance: number-input;
}

/*Header search*/
.header-search input[type="search"] {
    color: $color__text-heading;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    width: 200px;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    letter-spacing: 1px;
    @include font-size(0.7);
    
    @media screen and (min-width: $bp__sm) {
        border: none;
        @include font-size(0.875);
        padding-left: 20px;
        padding-right: 20px;
    }
    
    @media screen and (min-width: $bp__sm) {
        height: 37px;
    }
    
    @media screen and (min-width: $bp__lg) {
        height: 41px;
        width: 100%;
        padding-right: 130px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}

.header-search button {
    @include font-size(0);
    color: #fff;
    font-weight: $font__bold;
    background: $color__main-black;
    border-radius: 4px;
    height: 30px;
    width: 30px;
    position: relative;
    cursor: pointer;
    
    @media screen and (min-width: $bp__sm) {
        border: none;
    }
    
    @media screen and (min-width: $bp__sm) {
        height: 37px;
        width: 40px;
    }
    
    @media screen and (min-width: $bp__lg) {
        @include font-size(0.875);
        letter-spacing: 1px;
        height: 41px;
        width: auto;
        border-radius: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 40px;
        padding-right: 20px;
        margin-left: -30px;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    &:before {
        content: '\f002';
        font-family: FontAwesome;
        @include font-size(0.875);
        color: #fff;
        font-weight: $font__normal;
        
        @media screen and (min-width: $bp__lg) {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
        }
    }

    &:hover {
        color: $color__interactive;

        &:before {
            color: $color__interactive;
        }
    }
}