table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 1.5em;
    width: 100%;
}

table, th, td {
    border: 1px solid #ededed;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: $font__bold;
    padding: 5px 10px;
}

td {
    border-width: 0 1px 1px 0;
    padding: 5px 10px;
}