$gray: #f4f4f4;
$gray-dark: #828282;
$dark: #343434;
$dark-light: #474747;
$black: #333534;

$forest-gren: #1ea638;
$school-bus-yellow: #fdd900;
$old-gold: #d4af37;

$color__main-primary: $forest-gren;
$color__main-secondary: $school-bus-yellow;

$color__interactive: $old-gold;

$color__bg-primary: $gray;
$color__main-black: $black;

$color__text-main: $gray-dark;
$color__text-heading: $color__main-black;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__main-primary;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: $color__main-primary;
$color__link-visited: $color__main-primary;
$color__link-hover: $color__interactive;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #e4e4e4;
$color__border-abbr: #666;
