$size__site-main: 100%;
$size__site-sidebar: 25%;

$size__max-width: 1200px;

$padding__section: 20px;
$padding__section-inner: 40px;

$bp__xs: 425px;
$bp__sm: 576px;
$bp__md: 768px;
$bp__lg: 992px;
$bp__xl: 1200px;